<h1>These are the baths near you</h1>

    <% @baths.each do |bath| %>
    <div class="row">
        <div class="col-md-6 col md-offset-3">
            
            
                    <table class="table">
                        <tr>
                            <th><b>Location</b></th>
                            <td><b><%= bath.city %>, <%= bath.address %></b></td>
                        </tr>

                        <tr>
                            <th><b>Distance from me</b></th>
                            <td><b><%= bath.distance_from([current_user.latitude, current_user.longitude]) %> miles away</b></td>
                        </tr>
                        
                    </table>
        </div>
    </div>
    <% end %>
    
    
    <!--distance(current_user.longitude, current_user.latitude, bath.longitude, bath.latitude)-->