// Place all the styles related to the baths controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
p {
  text-decoration: none;
  text-shadow: none;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 18px;
}
