<%= form_for [@bath, @review] do |f| %>

    <div class="field">  
        <%= f.label :post %><br />
        <%= f.text_area :post %>
        
    </div>
        <%= f.submit "Create my review" %> 
<% end %>