/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	font-family: "Unica One";
    font-size: 1.5em;
    text-shadow: 0 1px 0 white;
}

#top_banner {
	width: 100%;
	background-color: rgba(0, 0, 0, 1); // change the last one to 1 if want black banner
    text-align: right;
}

#top_banner a {
	display: inline-block;
	padding: 0.5rem;
	text-decoration: none;
	font-family: play;
	font-weight: lighter;
	color: white;
}

#top_banner a:hover {
	background-color: #333333;
}

#top_banner p {
	display: inline-block;
	font-weight: lighter;
	color: white;
}

/* logo */
#logo {
    padding: 1.5rem;
    margin-left: 0 auto;
    margin-right: 0 auto;
    text-align: center;
}

/* Navigation bar */
.nav {
	width: 70%;
	padding: 0.5rem;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
	border-top: groove black;
	border-top-width: 1px;
    position: relative;
    text-align: center;
}

.nav li {
	display: block;
    position: relative;
    float: left;
    width: 24%;
    -webkit-transition: .7s;
    -moz-transition: .7s;
    -o-transition: .7s;
    -ms-transition: .7s;
    transition: .7s;
    vertical-align: top;
    border-right: groove black;
    border-right-width: 1px;
}

.nav li:nth-child(4) { border: none; }

.nav li a {
	display: inline-block;
	position: relative;
	padding: 0 0 0 0;
	text-decoration: none;
	color: #393939;
}

.nav li a:hover {
	background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0.3);
}

.nav .effect {
	width: 120px;
	height: 2px;
	bottom: 0;
	background: #c6342e;
	margin-left:-45px;
	position: absolute;
	left: -12.5%;
	-webkit-transition: 0.7s ease-in-out;
	-moz-transition: 0.7s ease-in-out;
	-o-transition: 0.7s ease-in-out;
	-ms-transition: 0.7s ease-in-out;
	transition: 0.7s ease-in-out;
}

.nav li:nth-child(1):hover ~ .effect { left: 10%; }
.nav li:nth-child(2):hover ~ .effect { left: 34%; }
.nav li:nth-child(3):hover ~ .effect { left: 58%; }
.nav li:nth-child(4):hover ~ .effect { left: 82%; }

.nav ul {
    position: absolute;
    left: -9999px;
    padding-top: 10px;
    opacity: 0;
    -webkit-transition: opacity .3s linear;
    -moz-transition: opacity .3s linear;
    -o-transition: opacity .3s linear;
    -ms-transition: opacity .3s linear;
}

.nav li:hover ul {
    left: 0;
    opacity: 1;
    top: 30px;
}

/* if sublevel exists
.nav ul li:hover>ul {
    left: 150px;
    opacity: 1;
    top: -11px;
    padding-left: 12px;
    border-bottom: 0;
    box-shadow: none;
}
*/

.nav ul li {
    display: block;
    position: relative;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    width: 150px;
    text-align: justify;
    z-index: 9;
    background: #eee;
    box-shadow: 3px 4px 0 rgba(0, 0, 0, .1);
    /* if sublevel exists
    -webkit-transition: background .3s linear;
    -moz-transition: background .3s linear;
    -ms-transition: background .3s linear;
    -o-transition: background .3s linear;
    */
}

.nav ul li a {
	font-size: 0.8rem;
	text-decoration: none;
	color: #393939;
    display: block;
    padding: 7px 12px 7px 20px;
}

#footer {
	margin-left: auto;
	margin-right: auto;
	height: 6rem;
	width: 70%;
	overflow: hidden;
	border-top: groove black;
	border-top-width: 1px;
}

#footer p {
	margin-top: 1rem;
	margin-left: 1rem;
	font-weight: 70%;
	font-size: 1rem;
	display: inline-block;
}

#footer a {
	margin-top: 1rem;
	margin-left: 1rem;
	font-weight: 70%;
	font-size: 1rem;
	display: inline-block;
	text-decoration: none;
	color: black;
}

#footer a:hover {
	color: rgba(0, 0, 0, 0.2);
}