// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Navigations: find & add */
#navbox-container {
  margin-left: auto;
	margin-right: auto;
  background-color: #CBECFD;
  display: flex;
}

.navbox {
  border-style: solid;
  border-color: #85DAF7;
  border-width: 2px;
  display: inline-block;
  flex: 1;
  padding: 3rem;
  text-align: center;
  position: relative;
  min-height: 616px;
}

.navbox h2 {
  /*color: white;*/
  // text-shadow: 2px 2px #f4f5f0;
  margin: none;
  font-family: 'Montserrat';
}

.navbox p {
  /*color: white;*/
  margin: none;
  font-family: 'Montserrat';
  // text-shadow: 1px 1px 4px #f4f5f0;
}

/* Begin about us page */
.imgProfile{
  box-shadow: 4px 4px 2px #888888;
  float: left;
  border: 1px solid;
  margin-right: 20px;
  clear:both;
}

.borderProfile {
    margin-left: 0px;
    overflow:auto;
    display:block;
}
.BorderProfile.clear {
    clear:both;
}


.nameProfile{
  font-size: 18px;
  color:  #000033;
}


.titleProfile{
  color:  #00004d;
  font-size: 16.5px;
}
