<div id="motto">
    <h1 style="color: white">Add A Review</h1>
</div>
<div class="col-md-12 well" style="color: black; background-color: white>
<%= simple_form_for [@bath, @review] do |f| %>
    <div class="container">
    <div class="field">
        <%= f.input :rating, :collection => 1..5, placeholder: 'Rate this bathroom from 1-5' %>
    </div>

    <div class="field">
        <%= f.input :post, as: :text %>
    </div>
     <br>
        <%= f.button :submit, class: "btn btn-success" %>
<% end %>
</div>
</div><br>
