<!-- Begin header file -->
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Play" />
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Jura" />

<div id="top_banner">
    <% if !user_signed_in? %>
        <a href="#">Sign up</a>
        <p>|</p>
        <a href="#">Log in</a>
    <% else %>
        <a href="#">My Profile</a>
        <p>|</p>
        <a href="#">Log out</a>
    <% end %>
</div>

<div id="logo"><%= link_to image_tag('logo.PNG', :size => "163x100") %></div>

<div class = "nav-container">
    <div class="nav">
        <a class="mid-child" href="#">Home</a>
        <a class="mid-child" href="#">Map</a>
        <a class="mid-child" href="#">Toilet Info</a>
        <a href="#">Contact us</a>
        <div class="effect"></div>
    </div>
</div>